<div class="list row">
    <a routerLink="/addcategory" class="btn btn-primary">Add Category</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"> Category Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categorys; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{category.name}}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(category.id)">Delete</button>
            <button class="btn btn-warning" (click)="edit(category)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  