<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Medico DB</a>
    <div class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="drugs" class="nav-link">Drugs</a>
      </li>
      <li>
        <a routerLink="stores" class="nav-link">Store</a>
      </li>
      <li>
        <a routerLink="balance" class="nav-link">Balance</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <!-- <h2>{{ title }}</h2> -->
    <router-outlet></router-outlet>
  </div>
</div>
