<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Medico DB</a>
    <div class="navbar-nav mr-auto">
      <li *ngIf="!sessionresult" class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a (click)="logout()" class="nav-link">Logout</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a routerLink="drugs" class="nav-link">Drugs</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a routerLink="category" class="nav-link">Category</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a routerLink="stores" class="nav-link">Store</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a routerLink="balance" class="nav-link">Balance</a>
      </li>
      <li *ngIf="sessionresult" class="nav-item">
        <a routerLink="user" class="nav-link">Users</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <!-- <h2>{{ title }}</h2> -->
    <router-outlet></router-outlet>
  </div>
</div>
