<form [formGroup]=addbalanceForm (ngSubmit)="submit(addbalanceForm)">
  <div class="form-group">
    <label for="drug name">Balance Name</label>
    <!-- <input type="text" formControlName="drugid" class="form-control" placeholder="Balance Drug name">
    <input type="text" formControlName="storeid" class="form-control" placeholder="Balance Store name"> -->
    <label for="select drug">Select Drug:
      <select formControlName="drugid" class="custom-select">
        <option value=""></option>
        <option *ngFor="let drug of druges" value="{{drug.id}}">{{drug.name}}</option>
      </select>
    </label>
    <label for="select store">Select Store:
      <select formControlName="storeid" class="custom-select">
        <option value=""></option>
        <option *ngFor="let store of stores" value="{{store.id}}">{{store.name}}</option>
      </select>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
