<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">MedicoDB!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <div class="input-group input-group-lg">
      <input [(ngModel)]="search" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      <button (click)="searchdrug()" type="button" class="btn btn-outline-primary">search</button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Drug Name</th>
            <!-- <th scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let drug of druges; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{drug.name}}</td>
            <!-- <td>
              <button class="btn btn-danger" (click)="delete(drug.id)">Delete</button>
              <button class="btn btn-warning" (click)="edit(drug)">Edit</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
